<div class="container">
  <nav>
    <div class="name">
      <h1>Weather app</h1>
    </div>
    <div class="name2">
       <h3>
        Thunder Strom
       </h3>
    </div>
  </nav>
<div class="container2"> 
  <div class="name1">
    <div class="ji"> 
    <h1 style="font-family: cursive; font-weight: bold; font-size: 50px;">{{name}}</h1>
    <img *ngIf="image" [src]="image" alt="Weather Icon" class="image" />
    </div>
    <div class="k"> 
    <h3 style="font-size: 40px;">{{ temp }}</h3>
      <h3>{{ wind }}</h3>
      <h3>{{ wind_degree }}</h3>
      
    </div>
       
  </div>
 </div> 
</div>

      
 